Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort-source:
  name: isort-source
  language: system
  entry: poetry run isort ./xpresso
  pass_filenames: false

isort-tests:
  name: isort-tests
  language: system
  entry: poetry run isort ./tests
  pass_filenames: false

isort-docs:
  name: isort-docs
  language: system
  entry: poetry run isort -l 70 ./docs_src
  pass_filenames: false

blacken-source:
  name: blacken-source
  language: system
  entry: poetry run black ./xpresso
  pass_filenames: false

blacken-tests:
  name: blacken-tests
  language: system
  entry: poetry run black ./tests
  pass_filenames: false

blacken-docs:
  name: blacken-docs
  language: system
  entry: poetry run black -l 70 ./docs_src
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

Pin importlib-metadata (#110)
  poetry.lock
  pyproject.toml
Due: lockfile

don't run sync dependencies in threads by default (#109)
  pyproject.toml
  xpresso/_utils/endpoint_dependant.py
  xpresso/_utils/overrides.py
  xpresso/dependencies/_dependencies.py
  xpresso/routing/operation.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix conflict
  poetry.lock
  pyproject.toml
Due: lockfile

bump version
  pyproject.toml
Due: lockfile

one more
  tests/test_request_bodies/test_file.py
  tests/test_request_bodies/test_form.py
  tests/test_request_params/test_params_header.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Update Starlette to >=0.21.0 (#108)
  .github/workflows/workflow.yaml
  poetry.lock
  pyproject.toml
  tests/test_docs/tutorial/dependencies/test_tutorial_007.py
  tests/test_docs/tutorial/files/test_tutorial_004.py
  tests/test_docs/tutorial/forms/test_tutorial_001.py
  tests/test_docs/tutorial/forms/test_tutorial_002.py
  tests/test_docs/tutorial/forms/test_tutorial_003.py
  tests/test_docs/tutorial/query_params/test_tutorial_004.py
  tests/test_request_bodies/test_file.py
  tests/test_request_bodies/test_form.py
  tests/test_request_bodies/test_json.py
  tests/test_request_bodies/test_multipart.py
  tests/test_request_params/test_params_header.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix re-export
  pyproject.toml
  xpresso/middleware/exceptions.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: rename things to match di>=0.73.0 and pin di
  docs/tutorial/dependencies/README.md
  docs_src/advanced/binders/msgpack/functions.py
  poetry.lock
  pyproject.toml
  tests/test_dependencies/test_overrides.py
  xpresso/_utils/endpoint_dependent.py
  xpresso/_utils/overrides.py
  xpresso/_utils/scope_resolver.py
  xpresso/applications.py
  xpresso/binders/_binders/union.py
  xpresso/binders/dependents.py
  xpresso/bodies.py
  xpresso/config.py
  xpresso/dependencies/_dependencies.py
  xpresso/openapi/_builder.py
  xpresso/parameters.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: rename things to match di>=0.73.0 and pin di (#112)
  docs/tutorial/dependencies/README.md
  docs_src/advanced/binders/msgpack/functions.py
  poetry.lock
  pyproject.toml
  tests/test_dependencies/test_overrides.py
  xpresso/_utils/endpoint_dependent.py
  xpresso/_utils/overrides.py
  xpresso/_utils/scope_resolver.py
  xpresso/applications.py
  xpresso/binders/_binders/union.py
  xpresso/binders/dependents.py
  xpresso/bodies.py
  xpresso/config.py
  xpresso/dependencies/_dependencies.py
  xpresso/openapi/_builder.py
  xpresso/parameters.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

remove httptools from extras
  poetry.lock
  pyproject.toml
Due: lockfile

chore: fix ci by removing httptools (doesn't build 3.11 wheels) (#113)
  poetry.lock
  pyproject.toml
Due: lockfile

fix: bump minimum Pydantic version for compatibility with 3.11
  .github/workflows/workflow.yaml
  poetry.lock
  pyproject.toml
Due: lockfile

fix: bump minimum Pydantic version for compatibility with 3.11 (#114)
  .github/workflows/workflow.yaml
  poetry.lock
  pyproject.toml
Due: lockfile

fix: correct the oldest version of Pydantic used in CI
  .github/workflows/workflow.yaml
Due: none

feat!: rename FromFile and File to FromRawBody and RawBody
  docs/tutorial/body.md
  docs_src/tutorial/body/tutorial_006.py
  docs_src/tutorial/files/tutorial_001.py
  docs_src/tutorial/files/tutorial_002.py
  docs_src/tutorial/files/tutorial_003.py
  docs_src/tutorial/files/tutorial_004.py
  tests/test_docs/tutorial/body/test_tutorial_006.py
  tests/test_request_bodies/test_file.py
  tests/test_routing/test_operation.py
  xpresso/__init__.py
  xpresso/bodies.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version to 0.46.0
  pyproject.toml
Due: lockfile

Fix names in docs
  docs/tutorial/files.md
Due: none

Update tutorial_006.py
  docs_src/tutorial/body/tutorial_006.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add aliases
  xpresso/__init__.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

lint
  xpresso/__init__.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: rename FromFile and File to FromRawBody and RawBody (#117)
  docs/tutorial/body.md
  docs/tutorial/files.md
  docs_src/tutorial/body/tutorial_006.py
  docs_src/tutorial/files/tutorial_001.py
  docs_src/tutorial/files/tutorial_002.py
  docs_src/tutorial/files/tutorial_003.py
  docs_src/tutorial/files/tutorial_004.py
  pyproject.toml
  tests/test_docs/tutorial/body/test_tutorial_006.py
  tests/test_request_bodies/test_file.py
  tests/test_routing/test_operation.py
  xpresso/__init__.py
  xpresso/bodies.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

update di to 0.75.0
  poetry.lock
  pyproject.toml
  tests/test_dependencies/test_dependency_injection.py
  xpresso/_utils/asgi.py
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

update di to 0.75.0 (#120)
  poetry.lock
  pyproject.toml
  tests/test_dependencies/test_dependency_injection.py
  xpresso/_utils/asgi.py
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Update on current and future goals
  README.md
Due: none

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*|.html
  isort-source: any of: \.py$, but not: ^.venv/.*|.html
  isort-tests: any of: \.py$, but not: ^.venv/.*|.html
  isort-docs: any of: \.py$, but not: ^.venv/.*|.html
  blacken-source: any of: \.py$, but not: ^.venv/.*|.html
  blacken-tests: any of: \.py$, but not: ^.venv/.*|.html
  blacken-docs: any of: \.py$, but not: ^.venv/.*|.html
  flake8: any of: \.py$, but not: ^.venv/.*|.html
  mypy: any of: \.py$, but not: ^.venv/.*|.html
