Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort-source:
  name: isort-source
  language: system
  entry: poetry run isort ./xpresso
  pass_filenames: false

isort-tests:
  name: isort-tests
  language: system
  entry: poetry run isort ./tests
  pass_filenames: false

isort-docs:
  name: isort-docs
  language: system
  entry: poetry run isort -l 70 ./docs_src
  pass_filenames: false

blacken-source:
  name: blacken-source
  language: system
  entry: poetry run black ./xpresso
  pass_filenames: false

blacken-tests:
  name: blacken-tests
  language: system
  entry: poetry run black ./tests
  pass_filenames: false

blacken-docs:
  name: blacken-docs
  language: system
  entry: poetry run black -l 70 ./docs_src
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

fix: rename xpresso.config.Config -> xpresso.config.BaseConfig to avoid name collisions with pydantic.BaseSettings.Config
  pyproject.toml
  tests/test_config.py
  xpresso/config.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: rename xpresso.config.Config -> xpresso.config.BaseConfig to avoid name collisions with pydantic.BaseSettings.Config (#88)
  pyproject.toml
  tests/test_config.py
  xpresso/config.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: rewrite inference of response models and handle merging of response specs
  pyproject.toml
  tests/test_docs/tutorial/body/test_tutorial_001.py
  tests/test_docs/tutorial/param_constraints_and_metadata/test_tutorial_001.py
  tests/test_docs/tutorial/query_params/test_tutorial_001.py
  tests/test_docs/tutorial/query_params/test_tutorial_003.py
  tests/test_docs/tutorial/query_params/test_tutorial_004.py
  tests/test_docs/tutorial/query_params/test_tutorial_005.py
  tests/test_docs/tutorial/query_params/test_tutorial_006.py
  tests/test_docs/tutorial/routing/test_tutorial001.py
  tests/test_docs/tutorial/routing/test_tutorial002.py
  tests/test_openapi/body/test_file_openapi.py
  tests/test_openapi/body/test_form_data_openapi.py
  tests/test_openapi/body/test_form_fields_openapi.py
  tests/test_openapi/body/test_json_openapi.py
  tests/test_openapi/body/test_multipart_openapi.py
  tests/test_openapi/model_name_conflict_resolution/test_model_name_conflcit_resolution.py
  tests/test_openapi/params/test_cookie_openapi.py
  tests/test_openapi/params/test_header_openapi.py
  tests/test_openapi/params/test_path_openapi.py
  tests/test_openapi/params/test_query_openapi.py
  tests/test_responses/test_response_spec.py
  tests/test_routing/test_tags.py
  xpresso/_utils/schemas.py
  xpresso/_utils/typing.py
  xpresso/applications.py
  xpresso/openapi/_builder.py
  xpresso/openapi/_constants.py
  xpresso/openapi/_responses.py
  xpresso/openapi/_utils.py
  xpresso/openapi/models.py
  xpresso/responses.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Update test_tutorial_001.py
  tests/test_docs/tutorial/body/test_tutorial_001.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add more tests
  docs/advanced/responses.md
  docs_src/advanced/responses/__init__.py
  docs_src/advanced/responses/tutorial_001.py
  docs_src/advanced/responses/tutorial_002.py
  docs_src/advanced/responses/tutorial_003.py
  docs_src/advanced/responses/tutorial_004.py
  docs_src/advanced/responses/tutorial_005.py
  tests/test_docs/advanced/additional_responses/test_tutorial_001.py
  tests/test_docs/advanced/additional_responses/test_tutorial_002.py
  tests/test_docs/advanced/additional_responses/test_tutorial_003.py
  tests/test_docs/advanced/additional_responses/test_tutorial_004.py
  tests/test_docs/advanced/additional_responses/test_tutorial_005.py
  tests/test_docs/tutorial/dependencies/test_tutorial_003.py
  tests/test_responses/test_response_spec.py
  xpresso/_utils/endpoint_dependant.py
  xpresso/responses.py
  xpresso/routing/operation.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add status code literals
  xpresso/responses.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

move logic to builder
  docs_src/advanced/responses/tutorial_001.py
  docs_src/advanced/responses/tutorial_003.py
  docs_src/advanced/responses/tutorial_004.py
  tests/test_responses/test_response_spec.py
  tests/test_routing/test_operation.py
  xpresso/openapi/_builder.py
  xpresso/openapi/models.py
  xpresso/routing/operation.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add responses to App
  tests/test_responses/test_response_spec.py
  xpresso/applications.py
  xpresso/openapi/_builder.py
  xpresso/routing/router.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

remove note from readme
  README.md
Due: none

fix coverage gaps
  docs_src/advanced/responses/tutorial_003.py
  tests/test_docs/advanced/additional_responses/test_tutorial_003.py
  xpresso/binders/_body/files/openapi.py
  xpresso/binders/_body/forms/form_data_openapi.py
  xpresso/binders/_body/json/openapi.py
  xpresso/binders/_parameters/openapi.py
  xpresso/binders/_utils/examples.py
  xpresso/openapi/models.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: simplify handling of unprepared Operations
  pyproject.toml
  tests/test_routing/test_operation.py
  xpresso/applications.py
  xpresso/routing/operation.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: add missing link to index
  mkdocs.yml
Due: none

doc: fix reference to wrong source file
  docs/advanced/responses.md
Due: none

implement test for body union
  mkdocs.yml
  xpresso/__init__.py
  xpresso/bodies.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add missing files
  docs/advanced/body-union.md
  docs_src/advanced/body_union.py
  docs_src/tutorial/forms/__init__.py
  docs_src/tutorial/forms/tutorial_001.py
  docs_src/tutorial/forms/tutorial_002.py
  docs_src/tutorial/forms/tutorial_003.py
  tests/test_cookie_params.py
  tests/test_docs/advanced/test_body_union.py
  tests/test_docs/tutorial/forms/__init__.py
  tests/test_docs/tutorial/forms/test_tutorial_001.py
  tests/test_docs/tutorial/forms/test_tutorial_002.py
  tests/test_docs/tutorial/forms/test_tutorial_003.py
  tests/test_header_params.py
  tests/test_path_params.py
  tests/test_query_params.py
  xpresso/_utils/pydantic_utils.py
  xpresso/applications.py
  xpresso/binders/_binders/__init__.py
  xpresso/binders/_binders/cookie_params.py
  xpresso/binders/_binders/file_body.py
  xpresso/binders/_binders/form_body.py
  xpresso/binders/_binders/formencoded_parsing.py
  xpresso/binders/_binders/grouped.py
  xpresso/binders/_binders/header_params.py
  xpresso/binders/_binders/json_body.py
  xpresso/binders/_binders/media_type_validator.py
  xpresso/binders/_binders/param_openapi.py
  xpresso/binders/_binders/path_params.py
  xpresso/binders/_binders/pydantic_validators.py
  xpresso/binders/_binders/query_params.py
  xpresso/binders/_binders/union.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

add tests for body union that doesn't match
  tests/test_docs/advanced/test_body_union.py
  xpresso/binders/_binders/union.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

simplify union
  docs_src/advanced/body_union.py
  tests/test_docs/advanced/test_body_union.py
  tests/test_docs/tutorial/files/test_tutorial_004.py
  tests/test_extractors/body/test_file_extractor.py
  tests/test_extractors/body/test_form_data_extractor.py
  tests/test_extractors/body/test_multipart_extractor.py
  xpresso/binders/_binders/file_body.py
  xpresso/binders/_binders/form_body.py
  xpresso/binders/_binders/json_body.py
  xpresso/binders/_binders/media_type_validator.py
  xpresso/binders/_binders/union.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add a cache key prop
  tests/test_cookie_params.py
  xpresso/binders/dependants.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

remove debug code
  tests/test_cookie_params.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix import
  docs_src/tutorial/forms/tutorial_003.py
  xpresso/datastructures.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

remove unused function
  xpresso/openapi/_builder.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

ci: fix codecov name
  .github/workflows/workflow.yaml
Due: none

chore(tests): organize file binder tests
  tests/test_extractors/body/test_file_extractor.py
  tests/test_request_body_file.py
  xpresso/binders/_binders/file_body.py
  xpresso/openapi/_builder.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore(tests): organize json binder tests
  tests/test_extractors/body/test_json_extractor.py
  tests/test_openapi/body/test_form_fields_openapi.py
  tests/test_request_body_json.py
  xpresso/binders/_binders/json_body.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: clean up form tests
  tests/test_extractors/body/test_form_data_extractor.py
  tests/test_extractors/body/test_form_fields_extractor.py
  tests/test_extractors/body/test_multipart_extractor.py
  tests/test_extractors/params/test_cookie_extractor.py
  tests/test_extractors/params/test_header_extractor.py
  tests/test_extractors/params/test_path_extractor.py
  tests/test_extractors/params/test_query_extractor.py
  tests/test_openapi/body/__init__.py
  tests/test_openapi/body/test_form_data_openapi.py
  tests/test_request_body_form.py
  tests/test_request_body_multipart.py
  xpresso/binders/_binders/file_body.py
  xpresso/binders/_binders/form_body.py
  xpresso/binders/_binders/formencoded_parsing.py
  xpresso/binders/_binders/json_body.py
  xpresso/binders/_binders/media_type_validator.py
  xpresso/bodies.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: move test file
  tests/test_jsonable_encoder.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: move test file
  tests/test_response_proxy.py
  tests/test_response_spec.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: flatten source
  tests/test_dependency_overrides.py
  tests/test_injectable_classes.py
  tests/test_jsonable_encoder.py
  tests/test_response_proxy.py
  xpresso/__init__.py
  xpresso/_utils/endpoint_dependant.py
  xpresso/applications.py
  xpresso/config.py
  xpresso/dependencies.py
  xpresso/dependencies/__init__.py
  xpresso/encoders.py
  xpresso/encoders/__init__.py
  xpresso/encoders/api.py
  xpresso/exception_handlers.py
  xpresso/exceptions.py
  xpresso/openapi/_html.py
  xpresso/openapi/_utils.py
  xpresso/responses.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: re-add accidentally removed files
  tests/test_extractors/params/test_cookie_extractor.py
  tests/test_extractors/params/test_header_extractor.py
  tests/test_extractors/params/test_path_extractor.py
  tests/test_extractors/params/test_query_extractor.py
  tests/test_request_body_file.py
  xpresso/datastructures.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: clean up param tests
  tests/test_cookie_params.py
  tests/test_header_params.py
  tests/test_params_cookies.py
  tests/test_params_header.py
  tests/test_params_path.py
  tests/test_params_query.py
  tests/test_path_params.py
  tests/test_query_params.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: release 0.33.0
  pyproject.toml
Due: lockfile

chore: rename variables for clarity
  xpresso/routing/pathitem.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: enforce binding of dependencies passed to Router, Path and Operation
  pyproject.toml
  xpresso/_utils/endpoint_dependant.py
  xpresso/applications.py
  xpresso/config.py
  xpresso/dependencies/__init__.py
  xpresso/dependencies/_dependencies.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: remove unused re-exports
  xpresso/_utils/typing.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore(tests): namespace test files
  tests/test_dependencies/__init__.py
  tests/test_dependencies/test_contextvars.py
  tests/test_dependencies/test_dependency_injection.py
  tests/test_dependencies/test_injectable_classes.py
  tests/test_dependencies/test_overrides.py
  tests/test_request_bodies/__init__.py
  tests/test_request_bodies/test_file.py
  tests/test_request_bodies/test_form.py
  tests/test_request_bodies/test_json.py
  tests/test_request_bodies/test_multipart.py
  tests/test_request_params/__init__.py
  tests/test_request_params/test_params_cookies.py
  tests/test_request_params/test_params_header.py
  tests/test_request_params/test_params_path.py
  tests/test_request_params/test_params_query.py
  tests/test_responses/__init__.py
  tests/test_responses/test_response_proxy.py
  tests/test_responses/test_response_spec.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*|.html
  isort-source: any of: \.py$, but not: ^.venv/.*|.html
  isort-tests: any of: \.py$, but not: ^.venv/.*|.html
  isort-docs: any of: \.py$, but not: ^.venv/.*|.html
  blacken-source: any of: \.py$, but not: ^.venv/.*|.html
  blacken-tests: any of: \.py$, but not: ^.venv/.*|.html
  blacken-docs: any of: \.py$, but not: ^.venv/.*|.html
  flake8: any of: \.py$, but not: ^.venv/.*|.html
  mypy: any of: \.py$, but not: ^.venv/.*|.html
