Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort-source:
  name: isort-source
  language: system
  entry: poetry run isort ./xpresso
  pass_filenames: false

isort-tests:
  name: isort-tests
  language: system
  entry: poetry run isort ./tests
  pass_filenames: false

isort-docs:
  name: isort-docs
  language: system
  entry: poetry run isort -l 70 ./docs_src
  pass_filenames: false

blacken-source:
  name: blacken-source
  language: system
  entry: poetry run black ./xpresso
  pass_filenames: false

blacken-tests:
  name: blacken-tests
  language: system
  entry: poetry run black ./tests
  pass_filenames: false

blacken-docs:
  name: blacken-docs
  language: system
  entry: poetry run black -l 70 ./docs_src
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

bug: allow header names to be missing in response specs as required by OpenAPI 3.0.3
  pyproject.toml
  xpresso/openapi/models.py
  xpresso/responses.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: add type alias for Operation's responses argument
  pyproject.toml
  xpresso/responses.py
  xpresso/routing/operation.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: normalize XPresso -> Xpresso
  .github/FUNDING.yml
  README.md
  docs/advanced/binders.md
  docs/advanced/dependencies/caching.md
  docs/advanced/dependencies/performance.md
  docs/advanced/dependencies/registration-and-testing.md
  docs/advanced/dependencies/responses.md
  docs/advanced/websockets.md
  docs/tutorial/body.md
  docs/tutorial/cors.md
  docs/tutorial/dependencies/README.md
  docs/tutorial/dependencies/lifecycle.md
  docs/tutorial/dependencies/nested.md
  docs/tutorial/dependencies/scopes.md
  docs/tutorial/dependencies/shared.md
  docs/tutorial/files.md
  docs/tutorial/forms.md
  docs/tutorial/header_params.md
  docs/tutorial/lifespan.md
  docs/tutorial/minimal_app.md
  docs/tutorial/param_constraints_and_metadata.md
  docs/tutorial/path_params.md
  docs/tutorial/query_params.md
  docs/tutorial/routing.md
  docs/types.md
  mkdocs.yml
  pyproject.toml
Due: lockfile

fix: include_in_schema parameter for Path and Operation
  pyproject.toml
  tests/test_openapi/test_operation.py
  tests/test_openapi/test_path.py
  xpresso/openapi/_builder.py
  xpresso/routing/pathitem.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: include_in_schema parameter for Path and Operation (#30)
  pyproject.toml
  tests/test_openapi/test_operation.py
  tests/test_openapi/test_path.py
  xpresso/openapi/_builder.py
  xpresso/routing/pathitem.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc/feat: document Path, Operation and Router OpenAPI customization and propagate tags and responses
  docs/tutorial/routing.md
  docs_src/tutorial/routing/__init__.py
  docs_src/tutorial/routing/tutorial_001.py
  docs_src/tutorial/routing/tutorial_002.py
  pyproject.toml
  tests/test_docs/tutorial/routing/__init__.py
  tests/test_docs/tutorial/routing/test_tutorial001.py
  tests/test_docs/tutorial/routing/test_tutorial002.py
  xpresso/_utils/routing.py
  xpresso/applications.py
  xpresso/openapi/_builder.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: add example image for custom OpenAPI to routing docs
  docs/tutorial/routing.md
  docs/tutorial/routing_002.png
  pyproject.toml
Due: lockfile

chore: add type annotation for App.container
  pyproject.toml
  xpresso/applications.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: re-export responses
  xpresso/responses.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor!: move middleware to Router and lifespan to App
  xpresso/_utils/routing.py
  xpresso/applications.py
  xpresso/exception_handlers.py
  xpresso/responses.py
  xpresso/routing/router.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add __slots__ to App
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: remove unused imports and unecessary attribute access in routing module
  pyproject.toml
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

perf: avoid hitting the event loop in Router.__call__
  xpresso/routing/router.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

more specific type-ignore
  xpresso/routing/router.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: update Black to first stable version
  poetry.lock
  pyproject.toml
Due: lockfile

chore: revert benchmark DAG size to (3, 2, 2)
  benchmarks/constants.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

ci: skip pypi & docs when triggered by scheduled workflow run
  .github/workflows/workflow.yaml
Due: none

ci: add quotes
  .github/workflows/workflow.yaml
Due: none

chore: add routing benchmarks
  benchmarks/constants.py
  benchmarks/fastapi_app.py
  benchmarks/starlette_app.py
  benchmarks/xpresso_app.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: add routing benchmarks (#34)
  benchmarks/constants.py
  benchmarks/fastapi_app.py
  benchmarks/starlette_app.py
  benchmarks/xpresso_app.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

test lifespan and exception handlers
  docs_src/tutorial/lifespan.py
  tests/test_dependency_injection.py
  tests/test_docs/tutorial/routing/test_tutorial002.py
  tests/test_exception_handlers.py
  tests/test_lifespans.py
  tests/test_routing/test_mounts.py
  tests/test_routing/test_router.py
  xpresso/_utils/routing.py
  xpresso/applications.py
  xpresso/exception_handlers.py
  xpresso/openapi/_builder.py
  xpresso/routing/router.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add test for Router(include_in_schema=False)
  tests/test_routing/test_router.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

move lifespan back to router
  tests/test_lifespans.py
  xpresso/_utils/deprecation.py
  xpresso/_utils/routing.py
  xpresso/applications.py
  xpresso/dependencies/utils.py
  xpresso/routing/router.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

revert unecessary change
  xpresso/applications.py
  xpresso/dependencies/utils.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat/refactor!: router-level middleware, support for lifespans on mounted apps (#35)
  docs_src/tutorial/lifespan.py
  pyproject.toml
  tests/test_dependency_injection.py
  tests/test_docs/tutorial/routing/test_tutorial002.py
  tests/test_exception_handlers.py
  tests/test_lifespans.py
  tests/test_routing/test_mounts.py
  tests/test_routing/test_router.py
  xpresso/_utils/deprecation.py
  xpresso/_utils/routing.py
  xpresso/applications.py
  xpresso/exception_handlers.py
  xpresso/openapi/_builder.py
  xpresso/routing/router.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

rename "operation" scope to "endpoint" scope since "operation" does not make sense for websockets
  docs/advanced/dependencies/responses.md
  docs/tutorial/dependencies/scopes.md
  docs_src/advanced/dependencies/tutorial_005.py
  tests/test_responses/test_response_proxy.py
  tests/test_routing/test_mounts.py
  tests/test_routing/test_operation.py
  xpresso/applications.py
  xpresso/dependencies/models.py
  xpresso/responses.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: allow injecting Container and App
  poetry.lock
  pyproject.toml
  tests/test_dependency_injection.py
  xpresso/applications.py
  xpresso/dependencies/utils.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix!: fix but in param binders caused by injection of ASGI scopes; instead just do not close WS connections
  pyproject.toml
  tests/test_docs/advanced/test_websockets.py
  xpresso/binders/_extractors/api.py
  xpresso/binders/_extractors/params/base.py
  xpresso/binders/_extractors/params/cookie.py
  xpresso/binders/_extractors/params/header.py
  xpresso/binders/_extractors/params/path.py
  xpresso/binders/_extractors/params/query.py
  xpresso/dependencies/utils.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: remove injection of app and router into ASGI scope
  pyproject.toml
  xpresso/applications.py
  xpresso/routing/router.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: update di dependency
  poetry.lock
  pyproject.toml
Due: lockfile

doc: add new distinguishing features to README.md
  README.md
Due: none

chore: release 0.9.3
  pyproject.toml
Due: lockfile

doc: fix typos in README.md
  README.md
Due: none

refactor: clean up methods in OpenAPI binder protocol
  docs_src/advanced/binders/msgpack/openapi.py
  poetry.lock
  xpresso/binders/_openapi_providers/api.py
  xpresso/binders/_openapi_providers/body/discriminated.py
  xpresso/binders/_openapi_providers/body/file.py
  xpresso/binders/_openapi_providers/body/form.py
  xpresso/binders/_openapi_providers/body/json.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix minor typo in binders.md
  docs/advanced/binders.md
Due: none

fix: fix name resolution for duplicate models
  docs_src/advanced/binders/msgpack/openapi.py
  tests/__init__.py
  tests/test_docs/tutorial/cookie_params/test_tutorial_001.py
  tests/test_docs/tutorial/header_params/test_tutorial_001.py
  tests/test_docs/tutorial/query_params/test_tutorial_001.py
  tests/test_docs/tutorial/query_params/test_tutorial_003.py
  tests/test_docs/tutorial/query_params/test_tutorial_004.py
  tests/test_openapi/model_name_conflict_resolution/__init__.py
  tests/test_openapi/model_name_conflict_resolution/test_model_name_conflcit_resolution.py
  tests/test_openapi/model_name_conflict_resolution/user1.py
  tests/test_openapi/model_name_conflict_resolution/user2.py
  tests/test_openapi/params/test_cookie_openapi.py
  tests/test_openapi/params/test_header_openapi.py
  tests/test_openapi/params/test_query_openapi.py
  tests/test_security/test_security_oauth2.py
  tests/test_security/test_security_oauth2_optional.py
  tests/test_security/test_security_oauth2_optional_description.py
  xpresso/_utils/schemas.py
  xpresso/_utils/typing.py
  xpresso/binders/_extractors/body/form.py
  xpresso/binders/_extractors/form_utils.py
  xpresso/binders/_extractors/params/cookie.py
  xpresso/binders/_extractors/params/header.py
  xpresso/binders/_extractors/params/path.py
  xpresso/binders/_extractors/utils.py
  xpresso/binders/_openapi_providers/api.py
  xpresso/binders/_openapi_providers/body/discriminated.py
  xpresso/binders/_openapi_providers/body/field.py
  xpresso/binders/_openapi_providers/body/file.py
  xpresso/binders/_openapi_providers/body/form.py
  xpresso/binders/_openapi_providers/body/form_field.py
  xpresso/binders/_openapi_providers/body/json.py
  xpresso/binders/_openapi_providers/params/base.py
  xpresso/binders/_openapi_providers/params/cookie.py
  xpresso/binders/_openapi_providers/params/header.py
  xpresso/binders/_openapi_providers/params/path.py
  xpresso/binders/_openapi_providers/params/query.py
  xpresso/openapi/_builder.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

remove unecessary changes
  xpresso/_utils/typing.py
  xpresso/binders/_extractors/body/form.py
  xpresso/binders/_openapi_providers/body/form.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*|.html
  isort-source: any of: \.py$, but not: ^.venv/.*|.html
  isort-tests: any of: \.py$, but not: ^.venv/.*|.html
  isort-docs: any of: \.py$, but not: ^.venv/.*|.html
  blacken-source: any of: \.py$, but not: ^.venv/.*|.html
  blacken-tests: any of: \.py$, but not: ^.venv/.*|.html
  blacken-docs: any of: \.py$, but not: ^.venv/.*|.html
  flake8: any of: \.py$, but not: ^.venv/.*|.html
  mypy: any of: \.py$, but not: ^.venv/.*|.html
