Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort-source:
  name: isort-source
  language: system
  entry: poetry run isort ./xpresso
  pass_filenames: false

isort-tests:
  name: isort-tests
  language: system
  entry: poetry run isort ./tests
  pass_filenames: false

isort-docs:
  name: isort-docs
  language: system
  entry: poetry run isort -l 70 ./docs_src
  pass_filenames: false

blacken-source:
  name: blacken-source
  language: system
  entry: poetry run black ./xpresso
  pass_filenames: false

blacken-tests:
  name: blacken-tests
  language: system
  entry: poetry run black ./tests
  pass_filenames: false

blacken-docs:
  name: blacken-docs
  language: system
  entry: poetry run black -l 70 ./docs_src
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

chore(tests): coalesce parameter tests
  tests/test_openapi/params/__init__.py
  tests/test_openapi/params/test_cookie_openapi.py
  tests/test_openapi/params/test_header_openapi.py
  tests/test_openapi/params/test_path_openapi.py
  tests/test_openapi/params/test_query_openapi.py
  tests/test_openapi/test_operation.py
  tests/test_openapi/test_path.py
  tests/test_request_params/test_params_cookies.py
  tests/test_request_params/test_params_header.py
  tests/test_request_params/test_params_path.py
  tests/test_request_params/test_params_query.py
  tests/test_routing/test_operation.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

test: add test for unsupported method in Path
  tests/test_routing/test_path.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: rename WebSocketRoute.solve to WebSocketRoute.prepare to match Operation.prepare
  xpresso/applications.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: remove Starlette converters from paths before adding them to the OpenAPI spec
  pyproject.toml
  tests/test_routing/test_path.py
  xpresso/openapi/_builder.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

prototype testing helper for generating openapi
  tests/conftest.py
  tests/test_docs/advanced/test_root_path.py
  tests/test_docs/advanced/test_root_path__test_openapi__expected_openapi.json
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

use difflib
  tests/conftest.py
  tests/test_docs/advanced/additional_responses/test_tutorial_001.py
  tests/test_docs/advanced/additional_responses/test_tutorial_002.py
  tests/test_docs/advanced/test_body_union.py
  tests/test_docs/advanced/test_root_path.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

apply to another test file
  tests/test_docs/advanced/additional_responses/test_tutorial_001__test_openapi_schema__expected_openapi.json
  tests/test_docs/advanced/additional_responses/test_tutorial_002.py
  tests/test_docs/advanced/test_body_union.py
  tests/test_request_bodies/test_json.py
  tests/test_request_bodies/test_json__test_builtin__expected_openapi.json
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add filenames
  tests/conftest.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: sort keys in generated OpenAPI JSON
  pyproject.toml
  xpresso/applications.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: add "app" to ASGI scope so that Starlette raises HTTPException(s) instead of returning a PlainTextResponse for 404s and 405s
  pyproject.toml
  xpresso/applications.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: clean up openapi generator
  xpresso/applications.py
  xpresso/openapi/_builder.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: support AsyncIterator[bytes] instead of requiring BinaryStream class
  docs/tutorial/files.md
  docs_src/tutorial/files/tutorial_003.py
  pyproject.toml
  tests/test_request_bodies/test_file.py
  xpresso/__init__.py
  xpresso/_utils/pydantic_utils.py
  xpresso/binders/_binders/file_body.py
  xpresso/binders/_binders/form_body.py
  xpresso/datastructures.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: parsing of docstrings into OpenAPI descriptions
  pyproject.toml
  tests/test_openapi/test_docstrings.py
  xpresso/openapi/_builder.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: failing tests
  tests/test_docs/tutorial/routing/test_tutorial002.py
  xpresso/openapi/_builder.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: add example of composition root pattern
  docs/advanced/dependencies/composition-root.md
  docs_src/advanced/dependencies/tutorial_006.py
  docs_src/advanced/dependencies/tutorial_007.py
  mkdocs.yml
  pyproject.toml
  tests/test_docs/advanced/dependencies/test_tutorial_006.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: bump Swagger UI verison
  xpresso/openapi/_html.py
Due: none

fix: update expected SwaggerUI HTML
  tests/test_openapi/expected_swagger_html.html
Due: none

fix: handling of chunk-encoded streams
  pyproject.toml
  tests/test_request_bodies/test_file.py
  xpresso/binders/_binders/file_body.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Update query_params.py
  xpresso/binders/_binders/query_params.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: typo in query_params.py (#92)
  xpresso/binders/_binders/query_params.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: fix minor typo and control flow in Union binder
  xpresso/binders/_binders/union.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: re-arrange initialization to allow dynamic binding of dependencies from within lifespan events
  tests/test_dependencies/test_dependency_injection.py
  xpresso/applications.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

add comments
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: allow binding of dependencies from within lifespans (#93)
  pyproject.toml
  tests/test_dependencies/test_dependency_injection.py
  xpresso/applications.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor!: change binder API to modify OpenAPI schema in place
  docs_src/advanced/binders/msgpack/openapi.py
  tests/test_docs/advanced/dependencies/test_tutorial_002.py
  tests/test_docs/advanced/test_body_union.py
  tests/test_docs/advanced/test_root_path.py
  xpresso/binders/_binders/file_body.py
  xpresso/binders/_binders/form_body.py
  xpresso/binders/_binders/json_body.py
  xpresso/binders/_binders/param_openapi.py
  xpresso/binders/_binders/union.py
  xpresso/binders/api.py
  xpresso/openapi/_builder.py
  xpresso/openapi/models.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

skip coverage
  xpresso/binders/_binders/file_body.py
  xpresso/binders/_binders/form_body.py
  xpresso/binders/_binders/json_body.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor!: change binder API to modify OpenAPI schema in place (#94)
  docs_src/advanced/binders/msgpack/openapi.py
  pyproject.toml
  tests/test_docs/advanced/dependencies/test_tutorial_002.py
  tests/test_docs/advanced/test_body_union.py
  tests/test_docs/advanced/test_root_path.py
  xpresso/binders/_binders/file_body.py
  xpresso/binders/_binders/form_body.py
  xpresso/binders/_binders/json_body.py
  xpresso/binders/_binders/param_openapi.py
  xpresso/binders/_binders/union.py
  xpresso/binders/api.py
  xpresso/openapi/_builder.py
  xpresso/openapi/models.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: make status codes in example integers
  docs_src/tutorial/routing/tutorial_002.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: remove unused `request` field in XpressoHTTPExtension
  xpresso/_utils/asgi.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: support context managers for extractors
  xpresso/binders/_binders/file_body.py
  xpresso/binders/_binders/form_body.py
  xpresso/binders/_binders/union.py
  xpresso/binders/_binders/utils.py
  xpresso/binders/api.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: support context managers for extractors (#95)
  pyproject.toml
  xpresso/binders/_binders/file_body.py
  xpresso/binders/_binders/form_body.py
  xpresso/binders/_binders/union.py
  xpresso/binders/_binders/utils.py
  xpresso/binders/api.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: support custom dependency scopes specified outside of Xpresso
  tests/test_dependencies/test_dependency_injection.py
  xpresso/applications.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: update lockfile
  poetry.lock
Due: lockfile

chore: update lockfile (#98)
  poetry.lock
Due: lockfile

use Marker
  tests/test_dependencies/test_dependency_injection.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*|.html
  isort-source: any of: \.py$, but not: ^.venv/.*|.html
  isort-tests: any of: \.py$, but not: ^.venv/.*|.html
  isort-docs: any of: \.py$, but not: ^.venv/.*|.html
  blacken-source: any of: \.py$, but not: ^.venv/.*|.html
  blacken-tests: any of: \.py$, but not: ^.venv/.*|.html
  blacken-docs: any of: \.py$, but not: ^.venv/.*|.html
  flake8: any of: \.py$, but not: ^.venv/.*|.html
  mypy: any of: \.py$, but not: ^.venv/.*|.html
