Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

.pre-commit-config.yaml:

exclude: "^.venv/.*|.html"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
    - id: trailing-whitespace
    - id: check-yaml
    - id: pretty-format-json
      args: ["--autofix"]
    - id: check-merge-conflict
  - repo: local
    hooks:
    - id: lockfile
      name: check poetry.lock
      language: system
      entry: poetry lock --no-update
      files: ^pyproject.toml|poetry.lock$
      pass_filenames: false
    - id: isort-source
      name: isort-source
      language: system
      entry: poetry run isort ./xpresso
      types: [python]
      pass_filenames: false
    - id: isort-tests
      name: isort-tests
      language: system
      entry: poetry run isort ./tests
      types: [python]
      pass_filenames: false
    - id: isort-docs
      name: isort-docs
      language: system
      entry: poetry run isort -l 70 ./docs_src
      types: [python]
      pass_filenames: false
    - id: blacken-source
      name: blacken-source
      language: system
      entry: poetry run black ./xpresso
      types: [python]
      pass_filenames: false
    - id: blacken-tests
      name: blacken-tests
      language: system
      entry: poetry run black ./tests
      types: [python]
      pass_filenames: false
    - id: blacken-docs
      name: blacken-docs
      language: system
      entry: poetry run black -l 70 ./docs_src
      types: [python]
      pass_filenames: false
    - id: flake8
      name: flake8
      language: system
      entry: poetry run flake8
      types: [python]
    - id: mypy
      name: mypy
      language: system
      entry: poetry run mypy
      types: [python]
      pass_filenames: false

ci: fix release link
  .github/workflows/workflow.yaml
Due: none

chore: release 0.14.4
  pyproject.toml
Due: lockfile

ci: fix env var reference
  .github/workflows/workflow.yaml
Due: none

some more renaming
  benchmarks/xpresso_app.py
  docs/advanced/dependencies/caching.md
  docs/advanced/dependencies/performance.md
  docs/tutorial/dependencies/README.md
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: add App.dependency_overrides
  docs/advanced/dependencies/registration-and-testing.md
  poetry.lock
  pyproject.toml
  tests/test_docs/advanced/dependencies/test_tutorial_004.py
  tests/test_docs/tutorial/dependencies/test_tutorial_001.py
  tests/test_docs/tutorial/dependencies/test_tutorial_002.py
  tests/test_docs/tutorial/dependencies/test_tutorial_003.py
  tests/test_docs/tutorial/dependencies/test_tutorial_004.py
  tests/test_docs/tutorial/dependencies/test_tutorial_006.py
  tests/test_lifespans.py
  tests/test_routing/test_mounts.py
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/dependencies/utils.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

make re-entrant
  docs/advanced/dependencies/overrides.md
  mkdocs.yml
  tests/test_docs/tutorial/dependencies/test_tutorial_001.py
  xpresso/_utils/overrides.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

cleanup
  docs/advanced/dependencies/caching.md
  docs/advanced/dependencies/overrides.md
  docs/advanced/dependencies/responses.md
  docs_src/advanced/dependencies/tutorial_004.py
  mkdocs.yml
  xpresso/_utils/overrides.py
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

move functions down to make App top structure
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix method name
  poetry.lock
  tests/test_routing/test_mounts.py
  xpresso/_utils/overrides.py
  xpresso/applications.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

no need to check for empty _stacks in __exit__
  xpresso/_utils/overrides.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Add test for overriding marker callable
  tests/test_dependency_overrides.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

not called
  tests/test_dependency_overrides.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add test for user provided container with incorrect scopes
  tests/test_application.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

clean up __register_framework_dependencies
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: add App.dependency_overrides (#54)
  docs/advanced/dependencies/caching.md
  docs/advanced/dependencies/overrides.md
  docs/advanced/dependencies/responses.md
  docs_src/advanced/dependencies/tutorial_004.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/test_application.py
  tests/test_dependency_overrides.py
  tests/test_docs/advanced/dependencies/test_tutorial_004.py
  tests/test_docs/tutorial/dependencies/test_tutorial_001.py
  tests/test_docs/tutorial/dependencies/test_tutorial_002.py
  tests/test_docs/tutorial/dependencies/test_tutorial_003.py
  tests/test_docs/tutorial/dependencies/test_tutorial_004.py
  tests/test_docs/tutorial/dependencies/test_tutorial_006.py
  tests/test_lifespans.py
  tests/test_routing/test_mounts.py
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/dependencies/utils.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: add contributor guide
  .gitignore
  CONTRIBUTING.md
  docs/contributing.md
  mkdocs.yml
Due: none

Update pyproject.toml
  pyproject.toml
Due: lockfile

doc: add contributor guide (#56)
  .gitignore
  CONTRIBUTING.md
  docs/contributing.md
  mkdocs.yml
  pyproject.toml
Due: lockfile

use coverage from venv
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add missing files
  docs_src/advanced/background_tasks.py
  tests/test_docs/advanced/test_background_tasks.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

version bump
  pyproject.toml
Due: lockfile

fix: initialize "app" scoped dependencies in the lifespan event
  tests/test_dependency_injection.py
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

fix: initialize "app" scoped dependencies in the lifespan event (#58)
  pyproject.toml
  tests/test_dependency_injection.py
  xpresso/applications.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: clean up unecessary __eq__ and __hash__ impls
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/binders/_body/extractors/field.py
  xpresso/binders/_body/extractors/file.py
  xpresso/binders/_body/extractors/form.py
  xpresso/binders/_body/extractors/form_field.py
  xpresso/binders/_body/extractors/json.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: clean up unecessary __eq__ and __hash__ impls (#59)
  pyproject.toml
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/binders/_body/extractors/field.py
  xpresso/binders/_body/extractors/file.py
  xpresso/binders/_body/extractors/form.py
  xpresso/binders/_body/extractors/form_field.py
  xpresso/binders/_body/extractors/json.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: openapi schema for tuples
  xpresso/openapi/models.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: make internal async method sync
  xpresso/binders/_body/extractors/json.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: document state of library and what works/doesn't
  README.md
Due: none

fix: add type annotation for App.dependency_overrides
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: document state of library and what works/doesn't (#61)
  README.md
Due: none

fix: add type annotation for App.dependency_overrides (#62)
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: simplify dependency override example
  docs/advanced/dependencies/overrides.md
  tests/test_docs/tutorial/dependencies/test_tutorial_001.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: implement root_path parameter to App
  docs/advanced/proxies-root-path.md
  docs_src/advanced/root_path.py
  mkdocs.yml
  tests/test_docs/advanced/test_root_path.py
  tests/test_routing/test_mounts.py
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy
