Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort-source:
  name: isort-source
  language: system
  entry: poetry run isort ./xpresso
  pass_filenames: false

isort-tests:
  name: isort-tests
  language: system
  entry: poetry run isort ./tests
  pass_filenames: false

isort-docs:
  name: isort-docs
  language: system
  entry: poetry run isort -l 70 ./docs_src
  pass_filenames: false

blacken-source:
  name: blacken-source
  language: system
  entry: poetry run black ./xpresso
  pass_filenames: false

blacken-tests:
  name: blacken-tests
  language: system
  entry: poetry run black ./tests
  pass_filenames: false

blacken-docs:
  name: blacken-docs
  language: system
  entry: poetry run black -l 70 ./docs_src
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

cleanup
  tests/test_dependencies/test_dependency_injection.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: use dependant.dag.keys() instead of dependant.get_flat_subdependants()
  xpresso/openapi/_builder.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

update lockfile and dep
  poetry.lock
  pyproject.toml
Due: lockfile

lock poetry version
  .github/workflows/workflow.yaml
Due: none

fix: compatibility with pydantic master branch
  pyproject.toml
  xpresso/responses.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: compatibility with pydantic master branch (#100)
  pyproject.toml
  xpresso/responses.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: bump di version and loosen dep
  poetry.lock
  pyproject.toml
Due: lockfile

chore: update lockfile
  poetry.lock
Due: lockfile

chore: remove lockfile
  .gitignore
  .pre-commit-config.yaml
Due: none

initial stab using defaults
  poetry.lock
  pyproject.toml
  tests/test_request_params/test_params_cookies.py
  xpresso/applications.py
  xpresso/dependencies/_dependencies.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

propagate endpoint scope
  xpresso/applications.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add new file
  xpresso/_utils/scope_resolver.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

remove debugging garbage
  tests/test_request_params/test_params_cookies.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

Incorporate scope inference (#101)
  poetry.lock
  pyproject.toml
  xpresso/_utils/scope_resolver.py
  xpresso/applications.py
  xpresso/dependencies/_dependencies.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix minor typo in docs `included` -> `include`
  docs/types.md
Due: none

fix minor typo in docs `included` -> `include` (#102)
  docs/types.md
Due: none

Install Pydantic dev from main instead of master
  .github/workflows/workflow.yaml
Due: none

doc: update examples to reflect dependency scope inference
  docs/tutorial/dependencies/lifecycle.md
  docs/tutorial/dependencies/scopes.md
  docs_src/tutorial/dependencies/tutorial_003.py
  docs_src/tutorial/dependencies/tutorial_004.py
  docs_src/tutorial/dependencies/tutorial_006.py
  pyproject.toml
  tests/test_docs/tutorial/dependencies/test_tutorial_003.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Add "
  docs/tutorial/dependencies/scopes.md
Due: none

add info on lifespan scopes
  docs/tutorial/dependencies/scopes.md
  docs/tutorial/lifespan.md
Due: none

Disable tests with Starlette and Pydantic nightly
  .github/workflows/workflow.yaml
Due: none

Revert "doc: update examples to reflect dependency scope inference"
  docs/tutorial/dependencies/lifecycle.md
  docs/tutorial/dependencies/scopes.md
  docs_src/tutorial/dependencies/tutorial_003.py
  docs_src/tutorial/dependencies/tutorial_004.py
  docs_src/tutorial/dependencies/tutorial_006.py
  pyproject.toml
  tests/test_docs/tutorial/dependencies/test_tutorial_003.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: fix nightly tests (#105)
  .github/workflows/workflow.yaml
Due: none

doc: update examples to reflect dependency scope inference (#104)
  docs/tutorial/dependencies/lifecycle.md
  docs/tutorial/dependencies/scopes.md
  docs/tutorial/lifespan.md
  docs_src/tutorial/dependencies/tutorial_003.py
  docs_src/tutorial/dependencies/tutorial_004.py
  docs_src/tutorial/dependencies/tutorial_006.py
  pyproject.toml
  tests/test_docs/tutorial/dependencies/test_tutorial_003.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: binder example for msgspec
  docs_src/advanced/binders/msgspec/__init__.py
  docs_src/advanced/binders/msgspec/extractor.py
  docs_src/advanced/binders/msgspec/functions.py
  docs_src/advanced/binders/msgspec/openapi.py
  docs_src/advanced/binders/msgspec/tests.py
  poetry.lock
  pyproject.toml
  tests/test_docs/advanced/binders/test_msgspec.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

rework tests for py37
  docs_src/advanced/binders/msgspec/tests.py
  poetry.lock
  pyproject.toml
  tests/test_docs/advanced/binders/test_msgspec.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: support quoted query parameters with explode=False
  pyproject.toml
  tests/test_request_params/test_params_query.py
  xpresso/binders/_binders/formencoded_parsing.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

make the obj argument to Encoder positional
  xpresso/encoders.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

convert internal function from a coro to a plain def
  xpresso/binders/_binders/cookie_params.py
  xpresso/binders/_binders/header_params.py
  xpresso/binders/_binders/path_params.py
  xpresso/binders/_binders/pydantic_validators.py
  xpresso/binders/_binders/query_params.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version to 0.42.3
  pyproject.toml
Due: lockfile

compatibility with the latest version
  poetry.lock
  pyproject.toml
  xpresso/dependencies/_dependencies.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Update Starlette to >=0.21.0
  .github/workflows/workflow.yaml
  pyproject.toml
  tests/test_docs/tutorial/dependencies/test_tutorial_007.py
  tests/test_docs/tutorial/files/test_tutorial_004.py
  tests/test_docs/tutorial/forms/test_tutorial_001.py
  tests/test_docs/tutorial/forms/test_tutorial_002.py
  tests/test_docs/tutorial/forms/test_tutorial_003.py
  tests/test_docs/tutorial/query_params/test_tutorial_004.py
  tests/test_request_bodies/test_file.py
  tests/test_request_bodies/test_form.py
  tests/test_request_bodies/test_json.py
  tests/test_request_bodies/test_multipart.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

don't run sync dependencies in threads by default
  pyproject.toml
  xpresso/_utils/endpoint_dependant.py
  xpresso/_utils/overrides.py
  xpresso/dependencies/_dependencies.py
  xpresso/routing/operation.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

don't introspect
  xpresso/dependencies/_dependencies.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Pin importlib-metadata
  poetry.lock
  pyproject.toml
Due: lockfile

Update pyproject.toml
  pyproject.toml
Due: lockfile

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*|.html
  isort-source: any of: \.py$, but not: ^.venv/.*|.html
  isort-tests: any of: \.py$, but not: ^.venv/.*|.html
  isort-docs: any of: \.py$, but not: ^.venv/.*|.html
  blacken-source: any of: \.py$, but not: ^.venv/.*|.html
  blacken-tests: any of: \.py$, but not: ^.venv/.*|.html
  blacken-docs: any of: \.py$, but not: ^.venv/.*|.html
  flake8: any of: \.py$, but not: ^.venv/.*|.html
  mypy: any of: \.py$, but not: ^.venv/.*|.html
