Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort-source:
  name: isort-source
  language: system
  entry: poetry run isort ./xpresso
  pass_filenames: false

isort-tests:
  name: isort-tests
  language: system
  entry: poetry run isort ./tests
  pass_filenames: false

isort-docs:
  name: isort-docs
  language: system
  entry: poetry run isort -l 70 ./docs_src
  pass_filenames: false

blacken-source:
  name: blacken-source
  language: system
  entry: poetry run black ./xpresso
  pass_filenames: false

blacken-tests:
  name: blacken-tests
  language: system
  entry: poetry run black ./tests
  pass_filenames: false

blacken-docs:
  name: blacken-docs
  language: system
  entry: poetry run black -l 70 ./docs_src
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

feat: allow overriding based on Marker.call or Dependant.call
  xpresso/_utils/overrides.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

working
  tests/test_security/test_multiple_models.py
  tests/test_security/test_security_oauth2_authorization_code_bearer.py
  xpresso/_utils/overrides.py
  xpresso/binders/_security/extractors/apikey.py
  xpresso/binders/_security/extractors/oauth.py
  xpresso/binders/_security/models/oauth.py
  xpresso/binders/api.py
  xpresso/binders/dependants.py
  xpresso/dependencies/models.py
  xpresso/security.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add missing file
  xpresso/binders/_security/models/composite.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

perf improvements
  benchmarks/fastapi_app.py
  benchmarks/xpresso_app.py
  poetry.lock
  pyproject.toml
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/binders/_utils/forms.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

update deps
  poetry.lock
  pyproject.toml
Due: lockfile

version bump
  pyproject.toml
Due: lockfile

perf: incorporate performance improvements from di (#82)
  benchmarks/fastapi_app.py
  benchmarks/xpresso_app.py
  poetry.lock
  pyproject.toml
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/binders/_utils/forms.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: format pyproject.toml
  pyproject.toml
Due: lockfile

ci: skip installing wheel to avoid permissions issues on Windows
  Makefile
Due: none

chore: incorporate upstream changes from di
  tests/test_dependency_injection.py
  tests/test_extractors/body/test_field_extractors.py
  xpresso/_utils/overrides.py
  xpresso/binders/dependants.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: incorporate upstream changes from di
  poetry.lock
  pyproject.toml
  tests/test_dependency_overrides.py
  xpresso/_utils/endpoint_dependant.py
  xpresso/applications.py
  xpresso/dependencies/models.py
  xpresso/openapi/_builder.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: strict typing for exception handlers
  pyproject.toml
  tests/test_exception_handlers.py
  xpresso/__init__.py
  xpresso/applications.py
  xpresso/exception_handlers.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: upgrade to Starlette 0.19.0
  poetry.lock
  pyproject.toml
  xpresso/__init__.py
  xpresso/applications.py
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/exception_handlers.py
  xpresso/exceptions.py
  xpresso/middleware/exceptions.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: remove autocompleted import from fastapi
  xpresso/exception_handlers.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

ci: don't fail uninstalling fastapi if it is not installed
  .github/workflows/workflow.yaml
Due: none

ci: change oldest version of Starlette to 0.19.0
  .github/workflows/workflow.yaml
Due: none

refactor: segregate extractor interfaces
  docs_src/advanced/binders/msgpack/extractor.py
  pyproject.toml
  xpresso/_utils/typing.py
  xpresso/binders/_body/extractors/body_field_validation.py
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/binders/_body/extractors/file.py
  xpresso/binders/_body/extractors/form.py
  xpresso/binders/_body/extractors/form_encoded_field.py
  xpresso/binders/_body/extractors/form_field_extractor.py
  xpresso/binders/_body/extractors/json.py
  xpresso/binders/_body/form_field.py
  xpresso/binders/_parameters/extractors/base.py
  xpresso/binders/_parameters/extractors/cookie.py
  xpresso/binders/_parameters/extractors/header.py
  xpresso/binders/_parameters/extractors/path.py
  xpresso/binders/_parameters/extractors/query.py
  xpresso/binders/_utils/forms.py
  xpresso/binders/api.py
  xpresso/binders/dependants.py
  xpresso/encoders/json.py
  xpresso/typing.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: split up openapi provider protocols
  docs_src/advanced/binders/msgpack/extractor.py
  docs_src/advanced/binders/msgpack/functions.py
  docs_src/advanced/binders/msgpack/openapi.py
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/binders/_body/extractors/file.py
  xpresso/binders/_body/extractors/form.py
  xpresso/binders/_body/extractors/form_encoded_field.py
  xpresso/binders/_body/extractors/form_field_extractor.py
  xpresso/binders/_body/extractors/json.py
  xpresso/binders/_body/form_field.py
  xpresso/binders/_body/openapi/discriminated.py
  xpresso/binders/_body/openapi/file.py
  xpresso/binders/_body/openapi/form.py
  xpresso/binders/_body/openapi/form_encoded_field.py
  xpresso/binders/_body/openapi/form_field_extractor.py
  xpresso/binders/_body/openapi/json.py
  xpresso/binders/_parameters/extractors/cookie.py
  xpresso/binders/_parameters/extractors/header.py
  xpresso/binders/_parameters/extractors/path.py
  xpresso/binders/_parameters/extractors/query.py
  xpresso/binders/_parameters/openapi.py
  xpresso/binders/api.py
  xpresso/binders/dependants.py
  xpresso/bodies.py
  xpresso/openapi/_builder.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: re-organize body binders
  xpresso/binders/_body/discriminated/__init__.py
  xpresso/binders/_body/discriminated/extractors.py
  xpresso/binders/_body/discriminated/openapi.py
  xpresso/binders/_body/extractors/__init__.py
  xpresso/binders/_body/files/__init__.py
  xpresso/binders/_body/files/extractors.py
  xpresso/binders/_body/files/openapi.py
  xpresso/binders/_body/forms/__init__.py
  xpresso/binders/_body/forms/field_api.py
  xpresso/binders/_body/forms/field_extractors.py
  xpresso/binders/_body/forms/field_openapi.py
  xpresso/binders/_body/forms/form_data_extractors.py
  xpresso/binders/_body/forms/form_data_openapi.py
  xpresso/binders/_body/forms/form_encoded_extractor.py
  xpresso/binders/_body/forms/form_encoded_openapi.py
  xpresso/binders/_body/json/__init__.py
  xpresso/binders/_body/json/extractors.py
  xpresso/binders/_body/json/openapi.py
  xpresso/binders/_body/openapi/__init__.py
  xpresso/binders/_body/pydantic_field_validator.py
  xpresso/bodies.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: cleanup of parameter binders
  tests/test_docs/advanced/test_websockets.py
  xpresso/binders/_parameters/extractors/base.py
  xpresso/binders/_parameters/extractors/cookie.py
  xpresso/binders/_parameters/extractors/header.py
  xpresso/binders/_parameters/extractors/path.py
  xpresso/binders/_parameters/extractors/query.py
  xpresso/binders/_parameters/extractors/validator.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: release 0.28.0
  pyproject.toml
Due: lockfile

fix: use tuple instead of list to allow instance methods to be hashable on python3.7
  xpresso/binders/_body/discriminated/extractors.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: remove importlib-metadata dependency
  poetry.lock
  pyproject.toml
Due: lockfile

chore: remove importlib-metadata dependency (#84)
  poetry.lock
  pyproject.toml
Due: lockfile

fix: support Starlette versions down to 0.17.1
  .github/workflows/workflow.yaml
  poetry.lock
  pyproject.toml
  xpresso/exception_handlers.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
  xpresso/exception_handlers.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: support starlette>=0.17.1 (#85)
  .github/workflows/workflow.yaml
  poetry.lock
  pyproject.toml
  xpresso/exception_handlers.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: clean up Operation and Path
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

lint
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add type ignore
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

move type ignore
  xpresso/routing/operation.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: cleanup Operation and Path (#86)
  pyproject.toml
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: accept files as streams
  docs/tutorial/files.md
  docs_src/tutorial/file.py
  docs_src/tutorial/file_as_bytes.py
  docs_src/tutorial/file_media_type.py
  tests/test_docs/tutorial/test_file.py
  tests/test_docs/tutorial/test_file_media_type.py
  tests/test_docs/tutorial/test_test_file_as_bytes.py
  tests/test_openapi/body/test_file_openapi.py
  xpresso/__init__.py
  xpresso/binders/_body/files/extractors.py
  xpresso/binders/_body/json/extractors.py
  xpresso/binders/_utils/stream_to_bytes.py
  xpresso/datastructures.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add missing file
  docs_src/tutorial/files/__init__.py
  docs_src/tutorial/files/tutorial_001.py
  docs_src/tutorial/files/tutorial_002.py
  docs_src/tutorial/files/tutorial_003.py
  docs_src/tutorial/files/tutorial_004.py
  tests/test_docs/tutorial/files/__init__.py
  tests/test_docs/tutorial/files/test_tutorial_003.py
  tests/test_docs/tutorial/files/test_tutorial_004.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

return BinaryStream
  xpresso/binders/_body/files/extractors.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: accept files as streams (#87)
  docs/tutorial/files.md
  docs_src/tutorial/files/__init__.py
  docs_src/tutorial/files/tutorial_001.py
  docs_src/tutorial/files/tutorial_002.py
  docs_src/tutorial/files/tutorial_003.py
  docs_src/tutorial/files/tutorial_004.py
  pyproject.toml
  tests/test_docs/tutorial/files/__init__.py
  tests/test_docs/tutorial/files/test_tutorial_003.py
  tests/test_docs/tutorial/files/test_tutorial_004.py
  tests/test_openapi/body/test_file_openapi.py
  xpresso/__init__.py
  xpresso/binders/_body/files/extractors.py
  xpresso/binders/_body/json/extractors.py
  xpresso/binders/_utils/stream_to_bytes.py
  xpresso/datastructures.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: Add note on specification of response models/metadata
  README.md
Due: none

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*|.html
  isort-source: any of: \.py$, but not: ^.venv/.*|.html
  isort-tests: any of: \.py$, but not: ^.venv/.*|.html
  isort-docs: any of: \.py$, but not: ^.venv/.*|.html
  blacken-source: any of: \.py$, but not: ^.venv/.*|.html
  blacken-tests: any of: \.py$, but not: ^.venv/.*|.html
  blacken-docs: any of: \.py$, but not: ^.venv/.*|.html
  flake8: any of: \.py$, but not: ^.venv/.*|.html
  mypy: any of: \.py$, but not: ^.venv/.*|.html
