Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

.pre-commit-config.yaml:

exclude: "^.venv/.*|.html"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
    - id: trailing-whitespace
    - id: check-yaml
    - id: pretty-format-json
      args: ["--autofix"]
    - id: check-merge-conflict
  - repo: local
    hooks:
    - id: lockfile
      name: check poetry.lock
      language: system
      entry: poetry lock --no-update
      files: ^pyproject.toml|poetry.lock$
      pass_filenames: false
    - id: isort-source
      name: isort-source
      language: system
      entry: poetry run isort ./xpresso
      types: [python]
      pass_filenames: false
    - id: isort-tests
      name: isort-tests
      language: system
      entry: poetry run isort ./tests
      types: [python]
      pass_filenames: false
    - id: isort-docs
      name: isort-docs
      language: system
      entry: poetry run isort -l 70 ./docs_src
      types: [python]
      pass_filenames: false
    - id: blacken-source
      name: blacken-source
      language: system
      entry: poetry run black ./xpresso
      types: [python]
      pass_filenames: false
    - id: blacken-tests
      name: blacken-tests
      language: system
      entry: poetry run black ./tests
      types: [python]
      pass_filenames: false
    - id: blacken-docs
      name: blacken-docs
      language: system
      entry: poetry run black -l 70 ./docs_src
      types: [python]
      pass_filenames: false
    - id: flake8
      name: flake8
      language: system
      entry: poetry run flake8
      types: [python]
    - id: mypy
      name: mypy
      language: system
      entry: poetry run mypy
      types: [python]
      pass_filenames: false

version bump
  pyproject.toml
Due: lockfile

fix: dependencies that require contextvars being broken by BaseHTTPMiddleware (#72)
  pyproject.toml
  tests/test_dependency_contextvars.py
  xpresso/_utils/asgi.py
  xpresso/_utils/asgi_scope_extension.py
  xpresso/applications.py
  xpresso/middleware/exceptions.py
  xpresso/responses.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: add injectable base classes and injectable Pydantic config
  poetry.lock
  pyproject.toml
  tests/test_config.py
  tests/test_injectable_classes.py
  xpresso/config.py
  xpresso/dependencies/models.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: install setuptools in ci
  Makefile
Due: none

minimize changes to lockfile
  poetry.lock
Due: lockfile

feat: add injectable base classes and Pydantic-based Config (#73)
  poetry.lock
  pyproject.toml
  tests/test_config.py
  tests/test_injectable_classes.py
  xpresso/config.py
  xpresso/dependencies/models.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: update lockfile
  poetry.lock
Due: lockfile

chore: update lockfile (#74)
  poetry.lock
Due: lockfile

fix: allow overriding generic di dependencies via App.dependency_overrides
  tests/test_dependency_overrides.py
  xpresso/_utils/overrides.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

fix: allow overriding generic di dependencies via App.dependency_overrides (#75)
  pyproject.toml
  tests/test_dependency_overrides.py
  xpresso/_utils/overrides.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: incorporate upstream changes from di
  poetry.lock
  pyproject.toml
  xpresso/_utils/endpoint_dependant.py
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/binders/_body/extractors/form_field_extractor.py
  xpresso/binders/_body/openapi/discriminated.py
  xpresso/binders/_body/openapi/form_field_extractor.py
  xpresso/binders/dependants.py
  xpresso/config.py
  xpresso/dependencies/models.py
  xpresso/openapi/models.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: don't update dependencies until termcolor fixes their setup
  poetry.lock
Due: lockfile

fix: lock gunicorn to avoid install errors
  pyproject.toml
Due: lockfile

fix: update pip before installing deps
  .github/workflows/workflow.yaml
  Makefile
Due: none

Remove pytest-sugar
  poetry.lock
  pyproject.toml
Due: lockfile

Re-add pytest-sugar
  .github/workflows/workflow.yaml
  poetry.lock
  pyproject.toml
Due: lockfile

lock with poetry non-alpha
  poetry.lock
Due: lockfile

also remove fastapi
  .github/workflows/workflow.yaml
Due: none

fix import
  tests/test_dependency_injection.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

relock
  .github/workflows/workflow.yaml
Due: none

Fix dev versions of Starlette
  .github/workflows/workflow.yaml
  pyproject.toml
Due: lockfile

Remove starlette from dev deps
  .github/workflows/workflow.yaml
  poetry.lock
  pyproject.toml
Due: lockfile

fix variable names
  .github/workflows/workflow.yaml
Due: none

pass in name and path_params to NoMatchFound
  tests/test_dependency_injection.py
  xpresso/routing/operation.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

ci: tweak ci and dependency specification (#78)
  .github/workflows/workflow.yaml
  Makefile
  poetry.lock
  pyproject.toml
  tests/test_dependency_injection.py
  xpresso/routing/operation.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

implement POC
  tests/test_security/__init__.py
  tests/test_security/test_multiple_models.py
  tests/test_security/test_security_key_header.py
  tests/test_security/test_security_oauth2_authorization_code_bearer.py
  xpresso/binders/_security/__init__.py
  xpresso/binders/_security/apikey.py
  xpresso/binders/_security/oauth2.py
  xpresso/binders/_security/utils.py
  xpresso/binders/api.py
  xpresso/security.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

require scheme name
  tests/test_security/test_multiple_models.py
  tests/test_security/test_security_key_header.py
  tests/test_security/test_security_oauth2_authorization_code_bearer.py
  xpresso/binders/_security/apikey.py
  xpresso/binders/_security/oauth2.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

require scheme name
  tests/test_security/test_multiple_models.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add override test
  tests/test_security/test_multiple_models.py
  tests/test_security/test_security_key_header.py
  tests/test_security/test_security_oauth2_authorization_code_bearer.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add override test
  xpresso/binders/_security/apikey.py
  xpresso/binders/_security/oauth2.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: remove unused custom CSS from docs
  docs/css/custom.css
  docs/css/termynal.css
  docs/js/custom.js
  docs/js/termynal.js
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: lockfile

wip
  tests/test_security/test_multiple_models.py
  tests/test_security/test_security_key_header.py
  tests/test_security/test_security_oauth2_authorization_code_bearer.py
  xpresso/binders/_security/apikey.py
  xpresso/binders/_security/oauth2.py
  xpresso/binders/api.py
  xpresso/security.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: incorporate upstream changes di
  pyproject.toml
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/binders/_body/extractors/form_field_extractor.py
  xpresso/binders/_body/openapi/discriminated.py
  xpresso/binders/_body/openapi/form_field_extractor.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: update deps
  poetry.lock
  pyproject.toml
Due: lockfile

chore: incorporate upstream changes from di
  poetry.lock
  pyproject.toml
  tests/test_application.py
  tests/test_dependency_injection.py
  tests/test_routing/test_mounts.py
  xpresso/_utils/asgi.py
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/dependencies/models.py
  xpresso/openapi/_builder.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

wip
  poetry.lock
  pyproject.toml
  tests/test_security/test_multiple_models.py
  tests/test_security/test_security_key_header.py
  tests/test_security/test_security_oauth2_authorization_code_bearer.py
  xpresso/__init__.py
  xpresso/_utils/overrides.py
  xpresso/binders/_security/apikey.py
  xpresso/binders/_security/extractors/__init__.py
  xpresso/binders/_security/extractors/apikey.py
  xpresso/binders/_security/extractors/oauth.py
  xpresso/binders/_security/models/__init__.py
  xpresso/binders/_security/models/apikey.py
  xpresso/binders/_security/models/oauth.py
  xpresso/binders/_security/oauth2.py
  xpresso/binders/_security/openapi/__init__.py
  xpresso/binders/_security/openapi/apikey.py
  xpresso/binders/_security/openapi/oauth.py
  xpresso/binders/_security/utils.py
  xpresso/binders/api.py
  xpresso/binders/dependants.py
  xpresso/binders/utils.py
  xpresso/security.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: simplify Depends inheritence chain
  pyproject.toml
  tests/test_routing/test_mounts.py
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/dependencies/models.py
  xpresso/openapi/_builder.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy
