Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

.pre-commit-config.yaml:

exclude: "^.venv/.*|.html"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
    - id: trailing-whitespace
    - id: check-yaml
    - id: pretty-format-json
      args: ["--autofix"]
    - id: check-merge-conflict
  - repo: local
    hooks:
    - id: lockfile
      name: check poetry.lock
      language: system
      entry: poetry lock --no-update
      files: ^pyproject.toml|poetry.lock$
      pass_filenames: false
    - id: isort-source
      name: isort-source
      language: system
      entry: poetry run isort ./xpresso
      types: [python]
      pass_filenames: false
    - id: isort-tests
      name: isort-tests
      language: system
      entry: poetry run isort ./tests
      types: [python]
      pass_filenames: false
    - id: isort-docs
      name: isort-docs
      language: system
      entry: poetry run isort -l 70 ./docs_src
      types: [python]
      pass_filenames: false
    - id: blacken-source
      name: blacken-source
      language: system
      entry: poetry run black ./xpresso
      types: [python]
      pass_filenames: false
    - id: blacken-tests
      name: blacken-tests
      language: system
      entry: poetry run black ./tests
      types: [python]
      pass_filenames: false
    - id: blacken-docs
      name: blacken-docs
      language: system
      entry: poetry run black -l 70 ./docs_src
      types: [python]
      pass_filenames: false
    - id: flake8
      name: flake8
      language: system
      entry: poetry run flake8
      types: [python]
    - id: mypy
      name: mypy
      language: system
      entry: poetry run mypy
      types: [python]
      pass_filenames: false

chore(dev): Refactor Multiple Functions in Code and Improve Logic of Code
  xpresso/_utils/media_type_validator.py
  xpresso/applications.py
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/binders/_body/extractors/field.py
  xpresso/binders/_body/extractors/form.py
  xpresso/binders/_body/extractors/form_field.py
  xpresso/binders/_body/extractors/json.py
  xpresso/binders/_body/openapi/discriminated.py
  xpresso/binders/_body/openapi/field.py
  xpresso/binders/_body/openapi/file.py
  xpresso/binders/_body/openapi/form.py
  xpresso/binders/_body/openapi/json.py
  xpresso/encoders/json.py
  xpresso/exception_handlers.py
  xpresso/openapi/_builder.py
  xpresso/openapi/_responses.py
  xpresso/responses.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore(dev): Fix code Expression
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/binders/_body/extractors/form.py
  xpresso/binders/_body/openapi/discriminated.py
  xpresso/binders/_body/openapi/form.py
  xpresso/exception_handlers.py
  xpresso/openapi/_builder.py
  xpresso/responses.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore(dev): minor changes
  pyproject.toml
  xpresso/encoders/json.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Update xpresso/encoders/json.py
  xpresso/encoders/json.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: general cleanup of codebase (#65)
  pyproject.toml
  xpresso/_utils/media_type_validator.py
  xpresso/applications.py
  xpresso/binders/_body/extractors/field.py
  xpresso/binders/_body/extractors/form_field.py
  xpresso/binders/_body/extractors/json.py
  xpresso/binders/_body/openapi/discriminated.py
  xpresso/binders/_body/openapi/field.py
  xpresso/binders/_body/openapi/file.py
  xpresso/binders/_body/openapi/form.py
  xpresso/binders/_body/openapi/json.py
  xpresso/encoders/json.py
  xpresso/openapi/_builder.py
  xpresso/openapi/_responses.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: revert change to App.__call__
  xpresso/applications.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

Update pyproject.toml
  pyproject.toml
Due: lockfile

feat: implement root_path parameter to App (#63)
  docs/advanced/proxies-root-path.md
  docs_src/advanced/root_path.py
  mkdocs.yml
  pyproject.toml
  tests/test_docs/advanced/test_root_path.py
  tests/test_routing/test_mounts.py
  xpresso/applications.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

test: add exception handler tests
  tests/test_exception_handlers.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

initial tracer bullet
  pyproject.toml
  xpresso/__init__.py
  xpresso/binders/api.py
  xpresso/binders/dependants.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add missing files
  tests/test_security/test_security_key_header.py
  xpresso/binders/_security/__init__.py
  xpresso/binders/_security/apikey.py
  xpresso/binders/_security/oauth.py
  xpresso/binders/_security/utils.py
  xpresso/security.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

dont import annotated
  xpresso/security.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore(ci): fix version specification
  .github/workflows/workflow.yaml
Due: none

chore(ci): fix version specification (#69)
  .github/workflows/workflow.yaml
  pyproject.toml
Due: lockfile

Update security.py
  xpresso/security.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

use branch on di to avoid Security[]
  poetry.lock
  pyproject.toml
  tests/test_security/test_security_key_header.py
  xpresso/__init__.py
  xpresso/binders/_security/apikey.py
  xpresso/binders/_security/oauth.py
  xpresso/binders/api.py
  xpresso/binders/dependants.py
  xpresso/security.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: incorporate upstream changes from di
  docs_src/advanced/dependencies/tutorial_001.py
  docs_src/advanced/dependencies/tutorial_002.py
  docs_src/advanced/dependencies/tutorial_004.py
  docs_src/advanced/dependencies/tutorial_005.py
  docs_src/advanced/websockets.py
  docs_src/tutorial/dependencies/tutorial_007.py
  poetry.lock
  pyproject.toml
  tests/test_dependency_injection.py
  tests/test_extractors/body/test_field_extractors.py
  tests/test_responses/test_response_proxy.py
  tests/test_routing/test_mounts.py
  xpresso/__init__.py
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/binders/dependants.py
  xpresso/dependencies/models.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

revert Depends -> Dependant by merging them
  docs_src/advanced/dependencies/tutorial_001.py
  docs_src/advanced/dependencies/tutorial_002.py
  docs_src/advanced/dependencies/tutorial_004.py
  docs_src/advanced/dependencies/tutorial_005.py
  docs_src/advanced/websockets.py
  docs_src/tutorial/dependencies/tutorial_007.py
  tests/test_dependency_injection.py
  tests/test_responses/test_response_proxy.py
  tests/test_routing/test_mounts.py
  xpresso/__init__.py
  xpresso/_utils/overrides.py
  xpresso/applications.py
  xpresso/dependencies/models.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

wip
  poetry.lock
  pyproject.toml
  xpresso/binders/_security/apikey.py
  xpresso/binders/_security/oauth.py
  xpresso/binders/api.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

udpate version
  poetry.lock
Due: lockfile

update dep
  poetry.lock
  pyproject.toml
Due: lockfile

chore: incorporate upstream changes from di (#70)
  poetry.lock
  pyproject.toml
  tests/test_extractors/body/test_field_extractors.py
  xpresso/applications.py
  xpresso/binders/dependants.py
  xpresso/dependencies/models.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
  xpresso/routing/websockets.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fixes
  xpresso/binders/api.py
  xpresso/security.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor: reduce code duplication
  xpresso/binders/_parameters/extractors/base.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: remove dead code
  xpresso/binders/_parameters/api.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: remove unecessary __slots__
  xpresso/binders/dependants.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

version bump
  pyproject.toml
Due: lockfile

remove unused code
  poetry.lock
  xpresso/_utils/asgi_scope_extension.py
  xpresso/_utils/compat.py
  xpresso/_utils/overrides.py
  xpresso/_utils/routing.py
  xpresso/_utils/typing.py
  xpresso/binders/_body/extractors/discriminated.py
  xpresso/bodies.py
  xpresso/dependencies/models.py
  xpresso/encoders/api.py
  xpresso/openapi/_responses.py
  xpresso/parameters.py
  xpresso/routing/router.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

move file
  xpresso/_utils/media_type_validator.py
  xpresso/binders/_body/extractors/file.py
  xpresso/binders/_body/extractors/form.py
  xpresso/binders/_body/extractors/json.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

add missing file
  xpresso/binders/_body/media_type_validator.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix import
  xpresso/_utils/compat.py
  xpresso/openapi/_responses.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: default to "connection" scope even when parent dep has "endpoint" scope
  pyproject.toml
  tests/test_dependency_injection.py
  xpresso/dependencies/models.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix: dependencies that require contextvars being broken by BaseHTTPMiddleware
  tests/test_dependency_contextvars.py
  xpresso/_utils/asgi.py
  xpresso/_utils/asgi_scope_extension.py
  xpresso/applications.py
  xpresso/middleware/exceptions.py
  xpresso/responses.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy
