Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

test: skip slow test on Trio to get back 1 second of developer's lives
  tests/test_docs/advanced/dependencies/test_tutorial_002.py
Due: isort, black, flake8, mypy

chore: release 0.4.3
  pyproject.toml
Due: lockfile

doc: add note on dynamically created security models
  README.md
Due: none

bug: fix bug in parsing of repeated headers
  pyproject.toml
  tests/test_extractors/params/test_header_extractor.py
  xpresso/binders/_extractors/params/header.py
Due: lockfile, isort, black, flake8, mypy

chore: fix benchmarks, update di dependency version
  benchmarks/xpresso_app.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

test: clean up benchmarks
  benchmarks/constants.py
  benchmarks/fastapi_app.py
  benchmarks/utils.py
  benchmarks/xpresso_app.py
Due: isort, black, flake8, mypy

doc/bug: fix and document modifying responses from within dependencies
  docs/advanced/dependencies/responses.md
  docs_src/advanced/dependencies/tutorial_005.py
  docs_src/tutorial/security/README.md
  tests/test_docs/advanced/dependencies/test_tutorial_004.py
  tests/test_docs/advanced/dependencies/test_tutorial_005.py
  xpresso/applications.py
  xpresso/exceptions.py
  xpresso/middleware/__init__.py
  xpresso/middleware/exceptions.py
  xpresso/routing/operation.py
  xpresso/routing/pathitem.py
  xpresso/security/_api_key.py
  xpresso/security/_open_id_connect_url.py
Due: isort, black, flake8, mypy

refactor/perf!: make the default scope "connection" like in FastAPI
  docs/tutorial/dependencies/scopes.md
  docs_src/advanced/dependencies/tutorial_005.py
  poetry.lock
  pyproject.toml
  tests/test_responses/test_response_proxy.py
  xpresso/_utils/asgi_scope_extension.py
  xpresso/dependencies/models.py
  xpresso/responses.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: lockfile, isort, black, flake8, mypy

test: fix failing test
  tests/test_responses/test_response_proxy.py
Due: isort, black, flake8, mypy

bug: fix handling of sent responses
  tests/test_responses/test_response_proxy.py
  xpresso/_utils/asgi_scope_extension.py
  xpresso/applications.py
  xpresso/responses.py
  xpresso/routing/operation.py
Due: isort, black, flake8, mypy

test: add test for submounted xpresso apps
  tests/test_routing/test_mounts.py
Due: isort, black, flake8, mypy

chore: remove dead code
  xpresso/binders/_extractors/params/cookie.py
  xpresso/responses.py
Due: isort, black, flake8, mypy

ci: don't fail workflow if PyPi step fails because this version is already published
  .github/workflows/workflow.yaml
Due: none

ci: use continue-on-failure at step level
  .github/workflows/workflow.yaml
Due: none

ci: invert logic in continue on failure
  .github/workflows/workflow.yaml
Due: none

fix typo
  docs/types.md
Due: none

fix typo (#25)
  docs/types.md
Due: none

feat: add include_in_schema: bool = True to PathParam(), QueryParam(), HeaderParam() and CookieParam()
  tests/test_openapi/params/test_cookie_openapi.py
  tests/test_openapi/params/test_header_openapi.py
  tests/test_openapi/params/test_path_openapi.py
  tests/test_openapi/params/test_query_openapi.py
  xpresso/binders/_openapi_providers/api.py
  xpresso/binders/_openapi_providers/params/base.py
  xpresso/binders/_openapi_providers/params/cookie.py
  xpresso/binders/_openapi_providers/params/header.py
  xpresso/binders/_openapi_providers/params/path.py
  xpresso/binders/_openapi_providers/params/query.py
  xpresso/binders/_param_functions.py
  xpresso/openapi/_builder.py
Due: isort, black, flake8, mypy

feat: add consume: bool = True parameter to Json() and File()
  tests/test_extractors/body/test_file_extractor.py
  tests/test_extractors/body/test_json_extractor.py
  xpresso/binders/_extractors/body/file.py
  xpresso/binders/_extractors/body/json.py
  xpresso/binders/_param_functions.py
Due: isort, black, flake8, mypy

refactor: change implementation of include_in_schmea for parameter markers to match body markers
  xpresso/binders/_openapi_providers/api.py
  xpresso/binders/_openapi_providers/params/cookie.py
  xpresso/binders/_openapi_providers/params/header.py
  xpresso/binders/_openapi_providers/params/path.py
  xpresso/binders/_openapi_providers/params/query.py
  xpresso/openapi/_builder.py
Due: isort, black, flake8, mypy

feat: add include_in_schema: bool = True to body markers
  docs_src/advanced/binders/msgpack/openapi.py
  tests/test_openapi/body/test_content_type_discriminated.py
  tests/test_openapi/body/test_file_openapi.py
  tests/test_openapi/body/test_form_data_openapi.py
  tests/test_openapi/body/test_form_fields_openapi.py
  tests/test_openapi/body/test_json_openapi.py
  tests/test_openapi/body/test_multipart_openapi.py
  xpresso/binders/_openapi_providers/api.py
  xpresso/binders/_openapi_providers/body/discriminated.py
  xpresso/binders/_openapi_providers/body/field.py
  xpresso/binders/_openapi_providers/body/file.py
  xpresso/binders/_openapi_providers/body/form.py
  xpresso/binders/_openapi_providers/body/form_field.py
  xpresso/binders/_openapi_providers/body/json.py
  xpresso/binders/_param_functions.py
  xpresso/openapi/_builder.py
Due: isort, black, flake8, mypy

chore: release 0.6.0
  pyproject.toml
Due: lockfile

ci: add id to PyPi release step
  .github/workflows/workflow.yaml
Due: none

chore: settle on a single logo
  docs/assets/images/xpresso-bean.png
  docs/assets/images/xpresso-bean.pxd/QuickLook/Icon.tiff
  docs/assets/images/xpresso-bean.pxd/QuickLook/Thumbnail.tiff
  docs/assets/images/xpresso-bean.pxd/data/selection/meta
  docs/assets/images/xpresso-bean.pxd/data/selection/shapeSelection/meta
  docs/assets/images/xpresso-bean.pxd/data/selection/shapeSelection/path
  docs/assets/images/xpresso-bean.pxd/metadata.info
  docs/assets/images/xpresso-cup.png
  docs/assets/images/xpresso-cup.pxd/QuickLook/Icon.tiff
  docs/assets/images/xpresso-cup.pxd/QuickLook/Thumbnail.tiff
  docs/assets/images/xpresso-cup.pxd/data/originalImportedContentDocumentInfo
  docs/assets/images/xpresso-cup.pxd/metadata.info
  docs/assets/images/xpresso-title.png
  docs/assets/images/xpresso-title.pxd/QuickLook/Icon.tiff
  docs/assets/images/xpresso-title.pxd/QuickLook/Thumbnail.tiff
  docs/assets/images/xpresso-title.pxd/data/72678C72-8B48-4CB1-8C80-312AD99C8C59
  docs/assets/images/xpresso-title.pxd/data/FBF26CFB-8E0A-4D4B-8091-5BC779991BEF
  docs/assets/images/xpresso-title.pxd/metadata.info
  mkdocs.yml
Due: none

darker
  README.md
  docs/assets/images/xpresso-bean.png
  docs/assets/images/xpresso-bean.pxd/QuickLook/Icon.tiff
  docs/assets/images/xpresso-bean.pxd/QuickLook/Thumbnail.tiff
  docs/assets/images/xpresso-bean.pxd/metadata.info
  docs/assets/images/xpresso-title.png
  docs/assets/images/xpresso-title.pxd/QuickLook/Icon.tiff
  docs/assets/images/xpresso-title.pxd/QuickLook/Thumbnail.tiff
  docs/assets/images/xpresso-title.pxd/data/72678C72-8B48-4CB1-8C80-312AD99C8C59
  docs/assets/images/xpresso-title.pxd/metadata.info
Due: none

revert changes to source and tests
  tests/test_responses/test_response_proxy.py
  tests/test_routing/test_operation.py
  xpresso/_utils/asgi_scope_extension.py
  xpresso/applications.py
  xpresso/exceptions.py
  xpresso/responses.py
  xpresso/routing/operation.py
  xpresso/routing/websockets.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

Update README.md
  README.md
Due: none

doc: revert css customizations
  docs/css/custom.css
Due: none

ci: test multiple versions of dependencies and simplify test matrix
  .github/workflows/workflow.yaml
Due: none

remove empty vectors
  .github/workflows/workflow.yaml
Due: none

actually run tests
  .github/workflows/workflow.yaml
Due: none

remove unecessary step
  .github/workflows/workflow.yaml
Due: none

ups that was being used
  .github/workflows/workflow.yaml
Due: none

use poetry
  .github/workflows/workflow.yaml
Due: none

ci: test multiple versions of dependencies and simplify test matrix (#28)
  .github/workflows/workflow.yaml
  pyproject.toml
Due: lockfile

ci: run workflow every day at midnight
  .github/workflows/workflow.yaml
Due: none

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*|.html
  isort: any of: \.py$, but not: ^.venv/.*|.html
  black: any of: \.py$, but not: ^.venv/.*|.html
  flake8: any of: \.py$, but not: ^.venv/.*|.html
  mypy: any of: \.py$, but not: ^.venv/.*|.html
