Repository adriangb/xpresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

isort-source:
  name: isort-source
  language: system
  entry: poetry run isort ./xpresso
  pass_filenames: false

isort-tests:
  name: isort-tests
  language: system
  entry: poetry run isort ./tests
  pass_filenames: false

isort-docs:
  name: isort-docs
  language: system
  entry: poetry run isort -l 70 ./docs_src
  pass_filenames: false

blacken-source:
  name: blacken-source
  language: system
  entry: poetry run black ./xpresso
  pass_filenames: false

blacken-tests:
  name: blacken-tests
  language: system
  entry: poetry run black ./tests
  pass_filenames: false

blacken-docs:
  name: blacken-docs
  language: system
  entry: poetry run black -l 70 ./docs_src
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  pass_filenames: false

fix: fix name resolution for duplicate models (#39)
  docs_src/advanced/binders/msgpack/openapi.py
  pyproject.toml
  tests/__init__.py
  tests/test_docs/tutorial/cookie_params/test_tutorial_001.py
  tests/test_docs/tutorial/header_params/test_tutorial_001.py
  tests/test_docs/tutorial/query_params/test_tutorial_001.py
  tests/test_docs/tutorial/query_params/test_tutorial_003.py
  tests/test_docs/tutorial/query_params/test_tutorial_004.py
  tests/test_openapi/model_name_conflict_resolution/__init__.py
  tests/test_openapi/model_name_conflict_resolution/test_model_name_conflcit_resolution.py
  tests/test_openapi/model_name_conflict_resolution/user1.py
  tests/test_openapi/model_name_conflict_resolution/user2.py
  tests/test_openapi/params/test_cookie_openapi.py
  tests/test_openapi/params/test_header_openapi.py
  tests/test_openapi/params/test_query_openapi.py
  tests/test_security/test_security_oauth2.py
  tests/test_security/test_security_oauth2_optional.py
  tests/test_security/test_security_oauth2_optional_description.py
  xpresso/_utils/schemas.py
  xpresso/_utils/typing.py
  xpresso/binders/_extractors/body/form.py
  xpresso/binders/_extractors/form_utils.py
  xpresso/binders/_extractors/params/cookie.py
  xpresso/binders/_extractors/params/header.py
  xpresso/binders/_extractors/params/path.py
  xpresso/binders/_extractors/utils.py
  xpresso/binders/_openapi_providers/api.py
  xpresso/binders/_openapi_providers/body/discriminated.py
  xpresso/binders/_openapi_providers/body/field.py
  xpresso/binders/_openapi_providers/body/file.py
  xpresso/binders/_openapi_providers/body/form.py
  xpresso/binders/_openapi_providers/body/form_field.py
  xpresso/binders/_openapi_providers/body/json.py
  xpresso/binders/_openapi_providers/params/base.py
  xpresso/binders/_openapi_providers/params/cookie.py
  xpresso/binders/_openapi_providers/params/header.py
  xpresso/binders/_openapi_providers/params/path.py
  xpresso/binders/_openapi_providers/params/query.py
  xpresso/openapi/_builder.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix minor typo in binders.md (#38)
  docs/advanced/binders.md
Due: none

version bump
  pyproject.toml
Due: lockfile

refactor: move openapi builder funcitons into modules
  xpresso/applications.py
  xpresso/openapi/_builder.py
  xpresso/openapi/_responses.py
  xpresso/openapi/_security.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

refactor: move openapi builder funcitons into modules (#41)
  pyproject.toml
  xpresso/applications.py
  xpresso/openapi/_builder.py
  xpresso/openapi/_responses.py
  xpresso/openapi/_security.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor!: decouple Xpresso Router from Starlette Router
  pyproject.toml
  xpresso/_utils/deprecation.py
  xpresso/_utils/routing.py
  xpresso/applications.py
  xpresso/routing/router.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

refactor!: decouple Xpresso Router from Starlette Router (#42)
  pyproject.toml
  xpresso/_utils/deprecation.py
  xpresso/_utils/routing.py
  xpresso/applications.py
  xpresso/routing/router.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix typos in path params docs
  docs/tutorial/path_params.md
Due: none

fix typo
  docs/tutorial/path_params.md
Due: none

refactor!: add __slots__ to App and Router and hide some App attributes
  xpresso/applications.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

bump version
  pyproject.toml
  xpresso/applications.py
  xpresso/routing/router.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

fix typos in path params docs (#43)
  docs/tutorial/path_params.md
Due: none

refactor!: add __slots__ to App and Router and hide some App attributes (#44)
  pyproject.toml
  xpresso/applications.py
  xpresso/routing/pathitem.py
  xpresso/routing/router.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: update lockfile & fix Starlette dependency specification
  poetry.lock
  pyproject.toml
Due: lockfile

remove app state, fix tests
  docs/tutorial/lifespan.md
  docs/tutorial/routing.md
  docs_src/tutorial/lifespan.py
  docs_src/tutorial/lifespans/__init__.py
  docs_src/tutorial/lifespans/tutorial_001.py
  docs_src/tutorial/lifespans/tutorial_002.py
  mkdocs.yml
  pyproject.toml
  tests/test_dependency_injection.py
  tests/test_docs/tutorial/lifespans/__init__.py
  tests/test_docs/tutorial/lifespans/test_tutorial_001.py
  tests/test_docs/tutorial/lifespans/test_tutorial_002.py
  tests/test_docs/tutorial/test_lifespan.py
  xpresso/applications.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat/doc!: document router lifespans, fix bug resulting in duplicate lifespan execution and remove App.state (#45)
  docs/tutorial/lifespan.md
  docs/tutorial/routing.md
  docs_src/tutorial/lifespan.py
  docs_src/tutorial/lifespans/__init__.py
  docs_src/tutorial/lifespans/tutorial_001.py
  docs_src/tutorial/lifespans/tutorial_002.py
  mkdocs.yml
  pyproject.toml
  tests/test_dependency_injection.py
  tests/test_docs/tutorial/lifespans/__init__.py
  tests/test_docs/tutorial/lifespans/test_tutorial_001.py
  tests/test_docs/tutorial/lifespans/test_tutorial_002.py
  tests/test_docs/tutorial/test_lifespan.py
  xpresso/applications.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: allow cache hits from higher scopes & apply this to lifespan examples
  docs_src/tutorial/lifespans/tutorial_001.py
  docs_src/tutorial/lifespans/tutorial_002.py
  poetry.lock
  pyproject.toml
  tests/test_docs/tutorial/lifespans/test_tutorial_001.py
  xpresso/dependencies/models.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

feat: allow cache hits from higher scopes & apply this to lifespan examples (#47)
  docs_src/tutorial/lifespans/tutorial_001.py
  docs_src/tutorial/lifespans/tutorial_002.py
  poetry.lock
  pyproject.toml
  tests/test_docs/tutorial/lifespans/test_tutorial_001.py
  xpresso/dependencies/models.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: fix highlighting in lifespan docs
  docs/tutorial/lifespan.md
Due: none

doc: fix highlighting in lifespan docs (#48)
  docs/tutorial/lifespan.md
Due: none

doc: start middlewre docs
  mkdocs.yml
  pyproject.toml
Due: lockfile

doc: add docs for middleware and middleware re-exports
  docs/tutorial/cors.md
  docs/tutorial/middleware/README.md
  docs/tutorial/middleware/diagram_001.mmd
  docs/tutorial/middleware/diagram_001.svg
  docs_src/tutorial/cors.py
  docs_src/tutorial/middleware/__init__.py
  docs_src/tutorial/middleware/tutorial_001.py
  mkdocs.yml
  tests/test_docs/tutorial/middleware/__init__.py
  tests/test_docs/tutorial/middleware/test_tutorial_001.py
  tests/test_docs/tutorial/test_cors.py
  xpresso/middleware/__init__.py
  xpresso/middleware/cors.py
  xpresso/middleware/gzip.py
  xpresso/middleware/httpsredirect.py
  xpresso/middleware/trustedhost.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: add docs for middleware and middleware re-exports (#49)
  docs/tutorial/cors.md
  docs/tutorial/middleware/README.md
  docs/tutorial/middleware/diagram_001.mmd
  docs/tutorial/middleware/diagram_001.svg
  docs_src/tutorial/cors.py
  docs_src/tutorial/middleware/__init__.py
  docs_src/tutorial/middleware/tutorial_001.py
  mkdocs.yml
  pyproject.toml
  tests/test_docs/tutorial/middleware/__init__.py
  tests/test_docs/tutorial/middleware/test_tutorial_001.py
  tests/test_docs/tutorial/test_cors.py
  xpresso/middleware/__init__.py
  xpresso/middleware/cors.py
  xpresso/middleware/gzip.py
  xpresso/middleware/httpsredirect.py
  xpresso/middleware/trustedhost.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: fix middleware docs sequence diagram
  docs/tutorial/middleware/diagram_001.mmd
  docs/tutorial/middleware/diagram_001.svg
Due: none

chore(tests): add test for /health route in middleware docs
  tests/test_docs/tutorial/middleware/test_tutorial_001.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc(lifespan): fix highlighting of lifespan examples
  docs_src/tutorial/lifespans/tutorial_001.py
  docs_src/tutorial/lifespans/tutorial_002.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: add note on Router middleware
  docs/tutorial/middleware/README.md
  pyproject.toml
Due: lockfile

doc: update benchmark route descriptions
  benchmarks/README.md
Due: none

fix: clean up benchmark routing table
  benchmarks/README.md
  benchmarks/constants.py
Due: isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

doc: tidy up key features bulletpoint
  README.md
  pyproject.toml
Due: lockfile

chore: update di dependency
  poetry.lock
  pyproject.toml
  xpresso/dependencies/models.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

chore: update di dependency (#51)
  poetry.lock
  pyproject.toml
  xpresso/dependencies/models.py
Due: lockfile, isort-source, isort-tests, isort-docs, blacken-source, blacken-tests, blacken-docs, flake8, mypy

ci: make codecov more leniant
  codecov.yml
Due: none

ci: make codecov more leniant (#52)
  codecov.yml
Due: none

Path conditions:
  lockfile: any of: ^pyproject.toml|poetry.lock$, but not: ^.venv/.*|.html
  isort-source: any of: \.py$, but not: ^.venv/.*|.html
  isort-tests: any of: \.py$, but not: ^.venv/.*|.html
  isort-docs: any of: \.py$, but not: ^.venv/.*|.html
  blacken-source: any of: \.py$, but not: ^.venv/.*|.html
  blacken-tests: any of: \.py$, but not: ^.venv/.*|.html
  blacken-docs: any of: \.py$, but not: ^.venv/.*|.html
  flake8: any of: \.py$, but not: ^.venv/.*|.html
  mypy: any of: \.py$, but not: ^.venv/.*|.html
